<form method="post" action="{{ path('app_objeto_delete', {'id': objeto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objeto.id) }}">
    <button class="btn">Delete</button>
</form>
