{% extends 'base.html.twig' %}

{% block title %}New Articulos{% endblock %}

{% block body %}
    <h1>Create new Articulos</h1>

    {{ include('articulos/_form.html.twig') }}

    <a href="{{ path('app_articulos_index') }}">back to list</a>
{% endblock %}
