{% extends 'base.html.twig' %}

{% block title %}New Articulos{% endblock %}

{% block body %}
    <h1 class="text-center">Crear nuevo articulo</h1>

    {{ include('comunes/_form.html.twig') }}

{% endblock %}
