{% extends 'base.html.twig' %}

{% block title %}Crear tarea{% endblock %}

{% block body %}
    <h1>Crear tarea</h1>
    {% include 'comunes/_mensajes.html.twig' %}
    {% include 'tarea/_formulario.html.twig' with {'accion': path('app_crear_tarea')} %}
{% endblock %}